.app {
	max-width: 1140px;
	margin: auto;
}

.app__header {
	display: flex;
	justify-content: space-around;
	background-color: gray;
	align-items: center;
}

.app__main {
	background-color: green;
}

.app__footer {
	background-color: blue;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.app__header--nav {
	
}

.list {
	display: inline;
}

.resource-wrapper {
	display: flex;
	justify-content: space-around;
}

.main-screen {
	display: flex;
	justify-content: space-around;
	background-color: red;
}

.building-wrapper {
	display: flex;
	background-color: yellow;
	flex-wrap: wrap;
}

.building {
	width: 33.3333%;
}

.stats__group {
	background-color: pink;
}

.building__element {
	padding-top: 2em;
	padding-left: 1em;
}

.production-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 1em;
}
.building__element--production{
	padding-top: 2em;
	padding-left: 1em;
	display: flex;
}
.production {
	padding-right: 0.5em;
}

.button {
	height: 1.5em;
	weight: 3em;
}

#view__home {
	
}

#view__building {
}

#view__map {
	
}

#view__messages {
	
}

#view__raports {
	
}

#view__user {
	
}

#logo {
	
}