.app__footer {
	background-color: blue;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.menu {
	display: flex;
}

.app__header {
	display: flex;
	justify-content: space-around;
	background-color: gray;
	align-items: center;
}

.menu-item {
	padding-right: 10px;
}

.button {
	border: none;
	display: inline-block;
	outline: 0;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.avatar-button {
	border: none;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.button:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.avatar-button:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.resource-wrap {
	max-width: 100%;
	background-color: #555;
	height: 100%;
}

.resource-item {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 1em;
}

.img {
	max-width: 100%;
	width: 80%;
}

.avatar {
	height: 70px;
	width: 70px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.logo {
	height: 90px;
	width: 110px;
}

.body-wrapper {
	display: flex;
	justify-content: space-between;
}

.main-screen {
	max-width: 1140px;
	margin: auto;
	background-color: green;
}

.building-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.barracks {
	width: 33%;
	position: relative;
}

.ironmine {
	width: 33%;
	position: relative;
}

.tankfactory {
	width: 33%;
	position: relative;
}

.bank {
	width: 33%;
	position: relative;
}

.planfactory {
	width: 33%;
	position: relative;
}

.stone {
	width: 33%;
	position: relative;
}

.farm {
	width: 33%;
	position: relative;
}

.street {
	width: 33%;
	position: relative;
}

.building1 {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: -200px;
	right: -500px;
}

.building8 {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 250px;
	right: -450px;
}

.building3 {
	width: 200px;
	height: 100px;
	position: absolute;
	bottom: 80px;;
	left: -150px;
}

.building4 {
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 300px;
	right: -250px;
}

.building5 {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: -200px;
	right: +660px;
}

.building6 {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 320px;
	left: -300px;
}

.building7 {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0px;
	left: -200px;
}

.building2 {
	position: absolute;
	width: 200px;
	height: 1000px;
	bottom: -600px;
	right: +450px;
}

.street {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: -100px;
	right: 500px;
}

.eoliana {
	width: 200px;
	height: 100px;
	position: relative;
}

.eoliana1 {
	width: 200px;
	height: 100px;
	position: relative;
}

.eoliana2 {
	width: 200px;
	height: 100px;
	position: relative;
}

.eoliana3 {
	width: 200px;
	height: 100px;
	position: relative;
}

.eoliana4 {
	width: 200px;
	height: 100px;
	position: relative;
}

.eoliana5 {
	width: 200px;
	height: 100px;
	position: relative;
}

.forest {
	width: 200px;
	height: 100px;
	position: relative;
	bottom: -1050px;
	right: 0px;
	height: 1000px;
}

.forest1 {
	width: 200px;
	height: 100px;
	position: relative;
	bottom: -1050px;
	right: 0px;
	height: 1000px;
}

.forest2 {
	width: 200px;
	height: 100px;
	position: relative;
	bottom: -1050px;
	right: 0px;
	height: 1000px;
}

.forest3 {
	width: 200px;
	height: 100px;
	position: relative;
	bottom: -1050px;
	right: 0px;
}

.forest4 {
	height: 1000px;
	position: absolute;
	bottom: -1050px;
	right: 0px;
}

.myButton {
	background-color: #97a7c4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #9da3b8;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 19px;
	padding: 12px 37px;
	text-decoration: none;
	margin: 8px;
	height: 50px;
	weight: 30px;
	outline: none;
}

.transparent {
	background-color: Transparent;
	border: none;
	outline: none;
}

.myButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a1aebd
		), color-stop(1, #97a7c4));
	background: -moz-linear-gradient(top, #a1aebd 5%, #97a7c4 100%);
}

.forest-image {
	height: 100px;
	width: 100px;
}

.street-image {
	height: 100px;
	width: 100px;
}

.eoliana-image {
	height: 200px;
	width: 300px;
}

.eoliana1-image {
	height: 200px;
	width: 300px;
}

.eoliana2-image {
	height: 200px;
	width: 300px;
}

.eoliana3-image {
	height: 200px;
	width: 300px;
}

.resource-wrap {
	width: 90px;
	background-color: #555;
}

.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	padding: 5px 10px;
	top: -5px;
	left: 105%;
	opacity: 0;
	transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.innerimg {
	max-width: 33%;
}

.w3-dropdown-hover {
	position: relative;
	display: block;
	cursor: pointer;
}

.w3-dropdown-content {
	cursor: auto;
	color: #000;
	background-color: #fff;
	display: none;
	position: absolute;
	min-width: 160px;
	margin: 0;
	padding: 0;
}

.w3-dropdown-hover:hover .w3-dropdown-content {
	display: block;
	z-index: 1;
}

html {
	background: url('../resources/img/cr.png'),
		url('../resources/img/images.jpg');
}

#map-wrap {
	width: 1040px;
	height: 500px;
	overflow: hidden
}

.w3-modal {
	z-index: 3;
	display: none;
	padding-top: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4)
}

.w3-modal-content {
	margin: auto;
	position: relative;
	padding: 0;
	outline: 0;
	width: 800px
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0, 0.4); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	background-color: rgb(0, 0, 0, 0.4); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.building-image1 {
	height: 180px;
	width: 300px;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.barracks-image {
	height: 380px;
	width: 300px;
}

.ironmine-image {
	height: 200px;
	width: 300px;
}

.building-image4 {
	height: 70px;
	width: 150px;
}

.building-image5 {
	height: 200px;
	width: 300px;
}

.tankfactory-image {
	height: 200px;
	width: 300px;
}

.building-image6 {
	height: 200px;
	width: 300px;
}

.bank-image {
	height: 270px;
	width: 200px;
}

.planfactory-image {
	height: 200px;
	width: 300px;
}

.stone-image {
	height: 80px;
	width: 150px;
}

.farm-image {
	height: 300px;
	width: 200px;
}

.forest-image {
	height: 100px;
	width: 100px;
}

.forest1-image {
	height: 100px;
	width: 100px;
}

.forest2-image {
	height: 100px;
	width: 100px;
}

.forest3-image {
	height: 100px;
	width: 100px;
}


@media only screen and (max-width: 900px) {
	.building-image1 {
		height: 50px;
		width: 55px;
	}
	.building-image2 {
		height: 30px;
		width: 30px;
	}
	.building-image3 {
		height: 80px;
		width: 80px;
	}
	.building-image4 {
		height: 80px;
		width: 80px;
	}
	.building-image5 {
		height: 80px;
		width: 80px;
	}
	.building-image6 {
		height: 80px;
		width: 80px;
	}
	.building-image7 {
		height: 80px;
		width: 80px;
	}
	.building-image8 {
		height: 80px;
		width: 80px;
	}
	.street-image {
		height: 80px;
		width: 80px;
	}
	.eoliana-image {
		height: 30px;
		width: 30px;
	}
}