.setting {
	display: block;
	font-weight: normal;
	padding: 7px 3px;
	border-bottom: 1px solid #d6d1af;
	margin-bottom: 5px;
}

.setting span {
	float: inherit;
	width: 250px;
	font-weight: bold;
}

input {
	border: 1px solid black;
	width: 35%;
}